body{
  padding-top: 3rem;
}

.no-flex.row{
  display:block;
  margin-bottom: 2rem;
}


.btn-float.btn.btn-primary.custom.btn-lg{
  background-color:rgb(75,0,130);
  position:fixed;
  width:60px;
	height:60px;
	bottom:40px;
	right:10rem;
  border-radius: 50%;
  box-shadow: 2px 2px 3px rgb(156, 156, 156);
}

.btn-group-lg>.btn, .btn-lg{
  font-size: 0.9rem;
  
}

.bi.bi-plus.custom{
  padding-right: 0.55rem;
}


.modal-body{
  padding: 2rem 2rem 3rem;
}